@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

:root {
  --overlay-color: #03a9f4;
}
* {
  margin: 0;
  padding: 0%;
  font-family: "Quintessential";
}
.showcase {
  position: absolute;
  right: 0;
  width: 90%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 2;
  transition: 0.5s;
}
.showcase.active {
  right: 300px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 88px;
  padding: 5px 10px;
  z-index: 1000;
  display: flex;
  font-size: large;
  align-items: center;
  justify-content:space-between;
}
.logo {
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  position: relative;
  width: 350px;
  height: 100px;
  background: url("../images/menu.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
  
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.toggle.active {
  background: url("../images/close.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccccff;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}
.text h1 {
  font-size: 4em;
  font-weight: 800px;
  line-height: 1em;
}
.text h2 {
  font-size: 4em;
  font-weight: 800px;
  line-height: 1em;
}
.text p {
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 1000px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 20px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration:none;
  font-size: 50px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}
@media (max-width: 991) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h1 {
    font-size: 3em;
  }
  .text h {
    font-size: 2em;
  }
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}