@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

* {
  margin: 00px;
  padding: 1%;
  font-family: "Quintessential";
}
body {
  background-image: url("../images/resumebg.jpg");
}
.resume h2 {
  position: relative;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}

.back {
  font-size: 30px;
  text-transform: uppercase;
  left: 0%;
  color: aliceblue;
}
